.prose {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: auto;
}

.prose a {
  font-weight: bold;
  text-decoration: underline;
}

.prose hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--gray-scale-400);
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}
.prose p {
  width: 100%;
  min-height: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.75rem;
  letter-spacing: 0rem;
  font-size: 1.0625rem;
  text-align: left;
  word-break: keep-all;
}

.prose ul {
  margin: 0;
  margin-bottom: 0.75rem;
  padding-inline-start: 2rem;
  letter-spacing: 0rem;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.prose li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.prose strong {
  font-weight: bold;
}

.prose h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.17rem;
  line-height: 150%;
  font-size: 1.625rem;
  font-weight: bold;
}
.prose h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.875rem;
  line-height: 150%;
  font-size: 1.375rem;
  font-weight: bold;
}

.prose section:has(svg) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.prose section {
  width: 100%;
  margin-bottom: 0.625rem;
  font-size: var(--fontSizes-body2);
  line-height: 1.75rem;
  letter-spacing: 0.00625rem;
  color: var(--gray-scale-900);
  display: block;
}

.prose section:has(hr) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.prose section:has(img) {
  width: 100%;
  margin: 2rem 0;
}

.prose section > img + p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: var(--fontSizes-caption2);
  line-height: var(--lineHeights-caption2);
  color: var(--gray-scale-600);
}

@media (min-width: 576px) {
  .prose p {
    font-size: 1.0625rem;
    line-height: 1.75rem;
    letter-spacing: 0.00625rem;
  }
  .prose ul {
    line-height: 1.875rem;
    padding-inline-start: 2.625rem;
    font-size: 1.0625rem;
    letter-spacing: 0.00625rem;
  }
  .prose h2 {
    font-size: 1.875rem;
  }
  .prose h3 {
    font-size: 1.5625rem;
  }
  .prose section {
    font-size: var(--fontSizes-body1);
    line-height: 1.75rem;
    letter-spacing: 0.025rem;
  }
  .prose section:has(hr) {
    margin: 2.25rem 0;
  }
  .prose section:has(svg) {
    margin: 2.25rem 0;
  }
}
