.header-height {
  height: 58px;
  width: 100%;
  position: relative;
}
.header {
  height: 58px;
  display: flex;
  position: fixed;
  top: 0px;
  background-color: var(--gray-scale-00);
  width: 100%;
  z-index: 100;
}
.header-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  max-width: var(--sizes-maxContent);
  margin: 0 auto;
}

ul.header-nav {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  list-style: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 5.875rem;
  padding-bottom: 5.875rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: background 0.3s ease-in-out;
}
.input:checked ~ ul.header-nav {
  transform: translateX(0);
  background: var(--gray-scale-00);
}
ul.header-nav > li {
  font-size: var(--fontSizes-subtitle2);
  font-weight: bold;
  opacity: 0.5;
  transform: translateY(50%);
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}
.input:checked ~ ul.header-nav > li {
  opacity: 1;
  transform: none;
}
ul.header-nav > li > a {
  font-weight: bold;
}
ul.header-nav > li > a {
  font-weight: bold;
}
ul.header-nav > li > a:hover:not(.active) {
  color: var(--gray-scale-600);
}
.active {
  color: var(--primary-500);
}

/******************
 * navigation-menu
 ******************/
.input {
  display: none;
}
label.menu-toggle {
  position: relative;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  line-height: 100%;
}
.menu-icon {
  width: 24px;
  height: 24px;
}
.stroke1 {
  fill: none;
  stroke: var(--gray-scale-900);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 60 207;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:checked + label .stroke1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.stroke2 {
  fill: none;
  stroke: var(--gray-scale-900);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 60 207;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:checked + label .stroke2 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

@media (min-width: 576px) {
  .header {
    height: 68px;
  }
  .header-height {
    height: 68px;
  }
  ul.header-nav > li {
    font-size: var(--fontSizes-body2);
    opacity: 1;
    transform: none;
  }
}

@media (min-width: 768px) {
  ul.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 56px;
    position: relative;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu-toggle {
    display: none;
  }
}
