.article-container {
  transition: all 0.3s ease-in-out 0s;
  width: 22.5rem;
  min-height: 20rem;
}

.article-container h3 {
  width: 100%;
  margin-top: 1.25rem;
  font-size: 1.375rem;
  font-weight: bold;
}

.article-container p {
  width: 100%;
  margin-top: 0.625rem;
  color: var(--gray-scale-600);
  font-size: var(--fontSizes-body2);
}

.article-image {
  border-radius: 1.25rem;
  overflow: hidden;
}

.article-tag {
  display: inline-block;
  width: fit-content;
  padding: 0.25rem 0.625rem;
  margin-top: 1.125rem;
  border-radius: 2.5rem;
  background-color: var(--gray-scale-100);
  color: var(--gray-scale-600);
  font-size: var(--fontSizes-caption2);
  line-height: var(--lineHeights-caption2);
  text-decoration: none;
}

@media (min-width: 576px) {
  .article-container {
    width: 23.75rem;
    height: 22.5rem;
  }
  .article-tag {
    margin-top: 1.5rem;
  }
  .article-container p {
    margin-top: 0.75rem;
  }
}

@media (min-width: 992px) {
  .article-container {
    width: 27.5rem;
    height: 26.25rem;
  }
  .article-tag {
    font-size: var(--fontSizes-caption1);
    line-height: var(--lineHeights-caption1);
  }
}

@media (min-width: 1200px) {
  .article-container {
    width: 30rem;
    height: 28.75rem;
  }
}
